<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>log-${bySecond}.log</file>
		<append>true</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="BENCH_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>[%-4level] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="BENCH_FILE" class="ch.qos.logback.core.FileAppender">
		<file>mutationBenchmark-1.log</file>
		<append>true</append>
		<encoder>
			<pattern>[%-4level] %msg%n
			</pattern>
		</encoder>
	</appender>

	<timestamp key="byTime" datePattern="HHmmss" />
	<appender name="MIN_OUT" class="ch.qos.logback.core.FileAppender">
		<file>out-${byTime}.log</file>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="uk.co.jwlawson.jcluster.LoggerTask" level="INFO">
		<appender-ref ref="MIN_OUT" />
		<appender-ref ref="BENCH_STDOUT" />
	</logger>

	<logger name="uk.co.jwlawson.jcluster.demos.LogMinMutInfExt"
		level="INFO">
		<appender-ref ref="MIN_OUT" />
		<appender-ref ref="BENCH_STDOUT" />
	</logger>

	<logger name="uk.co.jwlawson.jcluster.demos.MutationBenchmark"
		level="INFO" additivity="true">
		<appender-ref ref="BENCH_FILE" />
		<appender-ref ref="BENCH_STDOUT" />
	</logger>

	<logger name="uk.co.jwlawson.jcluster" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
	</logger>

	<!-- the level of the root level is set to DEBUG by default. -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>