<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under the 
		key "bySecond" into the logger context. This value will be available to all 
		subsequent configuration elements. -->
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>log-${bySecond}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

<!-- 	<appender name="OUT_FILE" class="ch.qos.logback.core.FileAppender">
		<file>out-${bySecond}.log</file>
		<append>true</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender> -->
	
<!-- 	<logger name="uk.co.jwlawson.jcluster.LoggerTask" level="INFO" additivity="false">
	    <appender-ref ref="OUT_FILE"/>
	</logger> -->
	<logger name="uk.co.jwlawson.jcluster.RunMutationClass" level="DEBUG" additivity="false">
	    <appender-ref ref="FILE"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

</configuration>

